body {
    margin: 0;
    padding: 0;
    background-color: #e9d9c7;
    font-family: 'didot-2';
}

@font-face {
    font-family: 'didot-2';
    src: url(didot-2/Didot.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    padding: 0 20px;
}

header nav:first-child {
    position: absolute;
    height: 50px;
    width: 200px;
    margin-top: 1%;
    float: middle;
    background-color: #474130;
    color: #907b60;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

header nav:nth-child(2) {
    margin-left: auto;
    height: 50px;
    width: 400px;
    float: left;
    background-color: #e6e1de;
    color: #25291c;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* Navigation Bar */
section nav:first-child {
    position: relative;
    margin-left: 1%;
    background-color: #20201a;
    height: 700px;
    width: 90px;
    border-radius: 50px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
}

/* About Me Button */
section nav:nth-child(2) {
    position: absolute;
    top: 17%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

section nav:nth-child(2) img {
    position: static;
}

section nav a {
    display: block;
    width: 100%;
    height: 100%;
}

/* Project */
section nav:nth-child(3) {
    position: absolute;
    top: 37%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* More */
section nav:nth-child(4) {
    position: absolute;
    top: 57%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* Contact */
section nav:nth-child(5) {
    position: absolute;
    top: 77%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* Background Shape */
section nav:nth-child(6) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #907b60;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    opacity: 0.9;
    filter: blur(2px);
}

section nav:nth-child(7) {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #907b60;
    border-radius: 60% 40% 30% 70%;
    top: 20%;
    left: 65%;
    opacity: 0.7;
    filter: blur(2px);
}

section nav:nth-child(8) {
    position: absolute;
    width: 350px;
    height: 350px;
    border: 40px solid #474130;
    border-radius: 50%;
    top:  30%;
    left: 20%;
    opacity: 0.6;
    filter: blur(2px);
}

/* Welcome Box */
section nav:nth-child(9) {
    position: absolute;
    top: 45%;
    bottom: 0;
    left: 440px;
    width: 700px;
    height: 100px;
    background-color: #474130;
    color: #e9d9c7;
    text-align: center;
    line-height: 100px;
    font-size: 110px;
    border-radius: 50px;
    box-shadow: 1px 0 15px 8px rgba( 0, 0, 0, 0.8);
}