/* Color to use in my website */
:root {
    --bg-color: #e9d9c7;      /*  made this to make it easy to use same color again and again */
    --dark-wood: #474130;
    --accent-brown: #907b60;
    --sidebar-bg: #20201a;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--bg-color);
    font-family: 'didot-2';
    overflow-x: hidden;
}

@font-face {
    font-family: 'didot-2';
    src: url(didot-2/Didot.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Header Grid */
.main-header {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    align-items: start;
    height: 80px;
    padding: 0 20px;
}

/* Portfolio */
.portfolio {
    grid-column: 2;
    justify-self: center;
    background-color: var(--dark-wood);
    color: var(--accent-brown);
    border-radius: 50px;
    font-size: 40px;
    margin-top: 10px;
    width: 220px;
    text-align: center;
    padding: 5px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

/* Hire Me */
.hire-me {
    grid-column: 3;
    justify-self: end;
    background-color: #e6e1de;
    color: #25291c;
    text-decoration: none;
    width: 400px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    transition: 0.3s;
}

.hire-me:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #e4dacf;
    cursor: pointer;
}

.hire-me:active {
    transform: translateY(1px);
}

/* Main Layout Grid */
.grid-container {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    padding: 20px 20px 0 20px;
    height: calc(100vh - 80px);
    box-sizing: border-box;
}

/* sidebar */
.sidebar {
    background-color: var(--sidebar-bg);
    height: 570px;
    width: 90px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
}

/* About Me Button, Project Button, More Button, Contact Button */
.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 13px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.nav-item:first-child img {
    width: 60px;
}

.nav-item img {
    width: 40px;
}

.nav-item:hover {
    transform: scale(1.1);
    background-color: var(--bg-color);
}

.nav-item:active {
    transform: translateY(1px);
}

/* Section */
.hero-section {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

/* Welcome Box */
.welcome-box {
    position: absolute;
    top: 35%;
    height: 100px;
    width: min(700px, 90%);
    background-color: var(--dark-wood);
    color: var(--bg-color);
    text-align: center;
    line-height: 100px;
    font-size: clamp(60px, 8vw, 110px);
    border-radius: 100px;
    box-shadow: 1px 0 15px 8px rgba( 0, 0, 0, 0.8);
    z-index: 10;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    white-space: nowrap;
    border: 0;
}

/* Background Shapes */
.shape {
    position: absolute;
    z-index: 1;
    filter: blur(2px);
    opacity: 0.7;
}

.circle-sm {
    width: 200px;
    height:200px;
    background: var(--accent-brown);
    border-radius: 50%;
    top: 0;
    left: 1px;
    opacity: 0.9;
    filter: blur(2px);
}

.ring-md {
    width: 350px;
    height: 350px;
    border: 40px solid var(--dark-wood);
    border-radius: 50%;
    top: 25%;
    left: 10%;
    opacity: 0.6;
    filter: blur(2px);
}

.blob-lg {
    width: 400px;
    height: 400px;
    background: var(--accent-brown);
    border-radius: 60% 40% 30% 70%;
    top: 20%;
    left: 65%;
    opacity: 0.7;
    filter: blur(2px);
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--dark-wood);
    position: absolute;
    left: 15px;
    top: 15px;
    z-index: 2000;
}


/* Responsibe */
@media screen and (max-width: 500px) {

    .hamburger {
        display: block;
        touch-action: manipulation;
    }

    .hire-me {
        display: none;
    }

    /* Header */
    .main-header {
        grid-template-columns: 1fr;
        height: 70px;
        padding: 0;
    }

    .portfolio {
        grid-column: 1;
        margin-top: 10px;
        font-size: 28px;
        width: auto;
        padding: 5px 25px;
    }

    .grid-container {
        grid-template-columns: 1fr;
        gap: 10px;
        padding: 10px;
        height: auto;
        min-height: calc(100vh - 70px);
    }

    .sidebar {
        position: fixed;
        top: 70px;
        left: -120px;
        height: 80vh;
        z-index: 1000;
        transition: 0.3s ease;
    }

    /* toggle for hamburger */
    #menu-toggle:checked ~ .grid-container .sidebar {
        left: 10px;
    }

    .nav-item {
        width: 60px;
        height: 60px;
        box-shadow: 1px 0 10px 6px rgba( 0, 0, 0, 0.6);
    }

    .nav-item img {
        width: 45px;
    }

    .nav-item:first-child img {
        width: 60px;
    }

    .hero-section {
        min-height: 300px;
    }

    .welcome-box {
        height: 70px;
        line-height: 70px;
        font-size: 48px;
        top: 40%;
    }

    .circle-sm {
        top: 4%;
        left: 30%;
        width: 120px;
        height: 120px;
    }

    .ring-md {
        left: 15%;
        width: 220px;
        height: 220px;
        border-width: 25px;
    }

    .blob-lg {
        top: 65%;
        left: 58%;
        width: 200px;
        height: 210px;
    }

}