body {
    margin: 0;
    padding: 0;
    background-color: #e9d9c7;
    font-family: 'didot-2';
}

@font-face {
    font-family: 'didot-2';
    src: url(didot-2/Didot.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    padding: 0 20px;
}

header nav:first-child {
    position: absolute;
    height: 50px;
    width: 200px;
    margin-top: 1%;
    float: middle;
    background-color: #474130;
    color: #907b60;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

header nav:nth-child(2) {
    margin-left: auto;
    height: 50px;
    width: 400px;
    float: left;
    background-color: #e6e1de;
    color: #25291c;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

/* Navigation Bar */
section nav:first-child {
    position: relative;
    margin-left: 1%;
    background-color: #20201a;
    height: 700px;
    width: 90px;
    border-radius: 50px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
}

/* About Me Button */
section nav:nth-child(2) {
    position: absolute;
    top: 20%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* Project */
section nav:nth-child(3) {
    position: absolute;
    top: 40%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* More */
section nav:nth-child(4) {
    position: absolute;
    top: 60%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* Contact */
section nav:nth-child(5) {
    position: absolute;
    top: 80%;
    left: 30px;
    bottom: 0;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

/* Background Shape */
section nav:nth-child(6) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #907b60;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    opacity: 0.7;
    filter: blur(7px);
}

section nav:nth-child(7) {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #907b60;
    border-radius: 60% 40% 30% 70%;
    top: 20%;
    left: 65%;
    opacity: 0.7;
    filter: blur(7px);
}

section nav:nth-child(8) {
    position: absolute;
    width: 350px;
    height: 350px;
    border: 40px solid #474130;
    border-radius: 50%;
    top:  30%;
    left: 20%;
    opacity: 0.6;
    filter: blur(7px);
}

/* Content Box */
section nav:nth-child(9) {
    position: absolute;
    top: 13%;
    bottom: 0;
    left: 148px;
    width: 1350px;
    height: 650px;
    background: rgba(71, 65, 48, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

section nav div:first-child {
    position: absolute;
    font-size: 80px;
    width: 400px;
    top: 5%;
    left: 70px;
    color: #20201a;
}

section nav div:nth-child(2) {
    position: absolute;
    font-size: 35px;
    left: 70px;
    top: 37%;
    color: #2e8b57;
}

section nav div:nth-child(3) {
    position: absolute;
    width: 1200px;
    height: 200px;
    top: 48%;
    left: 60px;
    font-size: 30px;
    color: #d5b60a;
    display: flex;
    text-align: left;
    padding-left: 18px;
    padding-right: 19px;
    padding-top: 10px;
    background-color: #20201a;
    border-radius: 45px;
    opacity: 0.9;
}