:root {
    --bg-color: #e9d9c7;
    --dark-wood: #474130;
    --accent-brown: #907b60;
    --sidebar-bg: #20201a;
    --glass-bg: rgba(71, 65, 48, 0.1);
}

body {
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'didot-2', serif;
    overflow-x: hidden;
}

@font-face {
    font-family: 'didot-2';
    src: url(didot-2/Didot.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* --- HEADER --- */
.main-header {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: start;
    height: 80px;
    padding: 0 20px;
}

/* Protfolio Logo */
.portfolio {
    grid-column: 2;
    justify-self: center;
    background-color: var(--dark-wood);
    color: var(--accent-brown);
    border-radius: 50px;
    font-size: 40px;
    margin-top: 10px;
    width: 220px;
    text-align: center;
    padding: 5px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

/* Hire Me button */
.hire-me {
    grid-column: 3;
    justify-self: end;
    background-color: #e6e1de;
    color: #25291c;
    text-decoration: none;
    width: 400px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
    margin-top: 0;
    transition: 0.3s;
}

.hire-me:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #e4dacf;
    cursor: pointer;
}

.hire-me:active {
    transform: translateY(1px);
}

/* --- MAIN LAYOUT --- */
.grid-container {
    display: grid;
    grid-template-columns: 120px 1fr;
    gap: 20px;
    padding: 20px;
    max-width: 1600px;
    margin: 0 auto;
}

/* Navigation Bar */
.sidebar {
    background-color: var(--sidebar-bg);
    height: 600px;
    width: 90px;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px 0;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
    transition: left 0.4s ease;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: var(--accent-brown);
    border-radius: 50%;
    box-shadow: 1px 0 15px 13px rgba(0, 0, 0, 0.8);
    transition: 0.3s;
}

.nav-item img { 
    width: 40px;
}

.nav-item:first-child img { 
    width: 60px;
}

.nav-item:nth-child(2) {
    background-color: var(--bg-color);
}

.nav-item:hover {
    transform: scale(1.1);
    background-color: var(--bg-color);
}

.nav-item:active {
    transform: translateY(1px);
}


/* --- PROJECT SECTION --- */
.project-area {
    position: relative;
    padding-bottom: 50px;
}

.content-card {
    background: var(--glass-bg);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
    padding: 25px;
    min-height: 600px;
    z-index: 5;
    position: relative;
}

/* Text box */
.inner-dark-panel {
    background-color: rgba(71, 65, 48, 0.5);
    border-radius: 35px;
    padding: 30px;
    height: 100%;
}

/* Project grid */
.projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card-group {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Project Box */
.project-card-visual {
    height: 400px;
    background-color: var(--bg-color);
    border-radius: 15px;
    opacity: 0.7;
    transition: 0.3s;
}

.project-card-visual:hover {
    transform: translateY(-10px);
    opacity: 0.9;
}

/* Inside the Text box */
.project-label {
    height: 75px;
    background-color: var(--sidebar-bg);
    color: #e6dcc8;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    font-size: 22px;
}

/* --- Background Shaps --- */
.shape { 
    position: absolute;
    z-index: 1;
    filter: blur(2px);
    opacity: 0.7;
}

.circle-sm { 
    width: 200px;
    height: 200px;
    background: var(--accent-brown);
    border-radius: 50%;
    top: -20px;
    left: -20px;
}

.ring-md { 
    width: 350px;
    height: 350px;
    border: 40px solid var(--dark-wood);
    border-radius: 50%;
    top: 30%;
    left: 10%;
    opacity: 0.4;
}

.blob-lg { width: 450px;
    height: 450px;
    background: var(--accent-brown);
    border-radius: 60% 40% 30% 70%;
    top: 10%;
    right: -50px;
}

/* --- Toggle Icon --- */
#menu-toggle { 
    display: none; 
}

/* Hamburger Icon */
.hamburger {
    display: none;
    font-size: 35px;
    cursor: pointer;
    color: var(--dark-wood);
    position: absolute;
    left: 20px;
    top: 20px;
    z-index: 3000;
}

.home-icon {
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 70px;
    right: 30px;
    background-color: #474130;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 1px 0 8px 4px rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    z-index: 20;
}

.home-icon:hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #645c46;
    cursor: pointer;
}

.home-icon:active {
    transform: translateY(1px);
}


/* --- MOBILE RESPONSIVE --- */
@media screen and (max-width: 1100px) {

    .grid-container { 
        grid-template-columns: 1fr;
    }
    
    .projects-grid { 
        grid-template-columns: repeat(2, 1fr); 
    }

    .hamburger { display: block; }

    .sidebar {
        position: fixed;
        left: -150px;
        top: 15%;
        z-index: 2000;
    }

    #menu-toggle:checked ~ .grid-container .sidebar {
        left: 20px;
    }

    .hire-me { 
        display: none;
    }
}

/* Made two @media screen to make is more responsive when using in phones */
@media screen and (max-width: 600px) {
    .projects-grid { 
        grid-template-columns: 1fr;
    }

    .project-card-visual { 
        height: 300px;
    }
}