body {
    margin: 0;
    padding: 0;
    background-color: #e9d9c7;
    font-family: 'didot-2';
}

@font-face {
    font-family: 'didot-2';
    src: url(didot-2/Didot.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    display: flex;
    justify-content: center;
    position: relative;
    height: 60px;
    padding: 0 20px;
}

/* Portfolio Box */
header nav:first-child {
    position: absolute;
    height: 50px;
    width: 200px;
    margin-top: 1%;
    float: middle;
    background-color: #474130;
    color: #907b60;
    line-height: 50px;
    border-radius: 500px;
    text-align: center;
    font-size: 40px;
    box-sizing: border-box;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

/* Hire Me */
header nav:nth-child(2) {
    margin-left: auto;
    height: 50px;
    width: 400px;
    float: left;
    background-color: #e6e1de;
    color: #25291c;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
}

header nav:nth-child(2):hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #e4dacf;
    cursor: pointer;
}

header nav:nth-child(2) a {
    text-decoration: none;
    color: inherit;
}

/* Navigation Bar */
section nav:first-child {
    position: relative;
    margin-left: 1%;
    background-color: #20201a;
    height: 700px;
    width: 90px;
    border-radius: 50px;
    box-shadow: 5px 7px 10px rgba(0, 0, 0, 0.8);
}

/* About Me Button */
section nav:nth-child(2) {
    position: absolute;
    top: 17%;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
}

section nav:nth-child(2):hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #a18a6b;
    cursor: pointer;
}

section nav:nth-child(2) img {
    position: static;
}

/* Project Button */
section nav:nth-child(3) {
    position: absolute;
    top: 37%;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

section nav:nth-child(3):hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #a18a6b;
    cursor: pointer;
}

section nav:nth-child(3) img {
    display: block;
}

/* More */
section nav:nth-child(4) {
    position: absolute;
    top: 57%;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

section nav:nth-child(4):hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #a18a6b;
    cursor: pointer;
}

section nav:nth-child(4) img {
    display: block;
}

/* Contact */
section nav:nth-child(5) {
    position: absolute;
    top: 77%;
    left: 30px;
    width: 60px;
    height: 60px;
    background-color: #907b60;
    border-radius: 50%;
    box-shadow: 1px 0 15px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

section nav:nth-child(5):hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #a18a6b;
    cursor: pointer;
}

section nav:nth-child(5) img {
    display: block;
}

/* Background Shape */
section nav:nth-child(6) {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #907b60;
    border-radius: 50%;
    top: 10%;
    left: 10%;
    opacity: 0.7;
    filter: blur(7px);
}

section nav:nth-child(7) {
    position: absolute;
    width: 400px;
    height: 400px;
    background-color: #907b60;
    border-radius: 60% 40% 30% 70%;
    top: 20%;
    left: 65%;
    opacity: 0.7;
    filter: blur(7px);
}

section nav:nth-child(8) {
    position: absolute;
    width: 350px;
    height: 350px;
    border: 40px solid #474130;
    border-radius: 50%;
    top:  30%;
    left: 20%;
    opacity: 0.6;
    filter: blur(7px);
}

/* Content Box */
section nav:nth-child(9) {
    position: absolute;
    top: 13%;
    left: 148px;
    width: 1350px;
    height: 650px;
    background: rgba(71, 65, 48, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.6);
}

/* Home Button */
section nav:nth-child(10) {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 88%;
    left: 1435px;
    background-color: #474130;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 1px 0 8px 4px rgba(0, 0, 0, 0.6);
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 9999;
}

section nav:nth-child(10):hover {
    transform: translateY(-6px) scale(1.03);
    box-shadow: 0 12px 40px rgba(0, 0, 0, 0.8);
    background-color: #645c46;
    cursor: pointer;
}

/* NO Change up here */


/* Project */
section nav:nth-child(11) {
    position: absolute;
    top: 16%;
    left: 168px;
    width: 1310px;
    height: 610px;
    border-radius: 30px;
    background-color: rgba(71, 65, 48, 0.6);
}

/* Project 1 */
section nav div:first-child {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20px;
    left: 20px;
    border-radius: 10px;
    background-color: #e9d9c7;
    opacity: 0.7;
}

/* Text */
section nav div:nth-child(2) {
    position: absolute;
    height: 100px;
    width: 253px;
    top: 80%;
    left: 40px;
    border-radius: 25px;
    background-color: #25291c;
    color: #e6dcc8;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 15px;
    opacity: 0.9;
}

/* Project 2 */
section nav div:nth-child(3) {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20px;
    left: 345px;
    border-radius: 10px;
    background-color: #e9d9c7;
    opacity: 0.7;
}

/* Text */
section nav div:nth-child(4) {
    position: absolute;
    height: 100px;
    width: 253px;
    top: 80%;
    left: 366px;
    border-radius: 25px;
    background-color: #25291c;
    color: #e6dcc8;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 15px;
    opacity: 0.9;
}

/* Project 3 */
section nav div:nth-child(5) {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20px;
    left: 668px;
    border-radius: 10px;
    background-color: #e9d9c7;
    opacity: 0.7;
}

/* Text */
section nav div:nth-child(6) {
    position: absolute;
    height: 100px;
    width: 253px;
    top: 80%;
    left: 692px;
    border-radius: 25px;
    background-color: #25291c;
    color: #e6dcc8;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 15px;
    opacity: 0.9;
}

/* Project 4 */
section nav div:nth-child(7) {
    position: absolute;
    width: 300px;
    height: 450px;
    top: 20px;
    left: 990px;
    border-radius: 10px;
    background-color: #e9d9c7;
    opacity: 0.7;
}

/* Text */
section nav div:nth-child(8) {
    position: absolute;
    height: 100px;
    width: 253px;
    top: 80%;
    left: 1015px;
    border-radius: 25px;
    background-color: #25291c;
    color: #e6dcc8;
    font-size: 21px;
    padding-top: 10px;
    padding-left: 15px;
    opacity: 0.9;
}